.compare {
  color: var(--mainColor);
}

/* Table Styling */
.table .table-responsive::-webkit-scrollbar {
  height: 2.5px;
}
.table .table-responsive::-webkit-scrollbar-thumb {
  border: none;
}
.table .table-responsive::-webkit-scrollbar-track {
  box-shadow: #eee;
}
table thead tr th:first-of-type p {
  width: 160px;
}
table thead,
table tbody,
table tfoot {
  border: none;
}
table .compare-image .image {
  width: 212.5px;
  background-color: var(--thirdColor);
}
table td,
table th {
  padding: 10px;
}
table tbody tr:first-of-type,
table tbody tr:nth-of-type(3),
table tbody tr:nth-of-type(5),
table tfoot td {
  background-color: #eee;
}
table tbody tr:last-of-type,
table tbody tr:nth-of-type(4),
table tbody tr:nth-of-type(2) {
  background-color: #e5e5e5;
}
table thead td,
table thead th {
  background-color: var(--mainColor);
  color: #fff;
  font-weight: bold;
  text-align: center;
}
.compare-name td:not(:first-of-type) a {
  color: var(--mainColor);
}
.compare-name td:not(:first-of-type) a:hover {
  color: var(--hoverColor);
}
@media (max-width: 992px) {
  .compare-buttons button span {
    font-size: 12.98px;
  }
}
