.card-skeleton {
  width: calc((100% - 60px) / 4);
  height: 532.5px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.card-skeleton .image {
  height: 425px;
}
.card-skeleton .text {
  border-top: var(--mainBorder);
}
.card-skeleton .text .heading {
  height: 25.5px;
}
.card-skeleton .text p {
  height: 27px;
}
.card-skeleton > span {
  display: block;
  height: 38px;
}
.card-skeleton > span .react-loading-skeleton {
  display: block;
  height: 100%;
}
@media (max-width: 1199px) {
  .card-skeleton {
    width: calc((100% - 45px) / 3);
  }
}
@media (max-width: 991px) {
  .card-skeleton {
    width: calc((100% - 30px) / 2);
  }
}
@media (max-width: 767px) {
  .card-skeleton {
    width: 92.5%;
    margin-right: 0;
  }
}
