.categories-links {
  background-color: var(--secondaryColor);
  position: sticky;
  top: 0;
  z-index: 2;
}
.categories-links nav a {
  transition: var(--mainDuration);
}
.categories-links nav .active,
.categories-links nav a:hover {
  background-color: var(--mainColor);
}
.categories-links nav a {
  display: block;
  padding: 12.5px;
}
@media (max-width: 767px) {
  .categories-links nav a {
    padding: 7px;
    width: calc(100% / 2);
  }
}
